[Container]
Image=git.wheeli.ca/brian/stocker-store:latest
Network=host
EnvironmentFile=%h/.config/stocker-store/.env.podman

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target