[Unit]
After=network-online.target

[Container]
Image=git.wheeli.ca/brian/stocker-store:latest
EnvironmentFile=%h/.config/stocker-store/.env.podman
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target